<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><TEMPLATE_SLOT name="title" /></title>
    <base href='<TEMPLATE_SLOT name="base" />/' />
    <link rel="stylesheet" href="assets/styles.css" />
  </head>
  <body>
    <script src="assets/javascript/accordion.js"></script>
    <script src="assets/javascript/sidebar.js"></script>
    <TEMPLATE_SLOT name="navigation" />
    <main class="main">
      <div class="page-content"><TEMPLATE_SLOT name="main" /></div>
      <TEMPLATE_SLOT name="sidebar" />
    </main>
    
  </body>
</html>
